.background {
  background-image: url("/assets/images/coupon_bg.jpg");
  background-size: 100% 100%; 
  margin: auto;
  padding: 0 6%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  display: flex;
  flex-direction: column;
}

::ng-deep .barcode {
  display: flex;
  justify-content: center;
}

.invalid {
  height: 100px; 
  width: 300px; 
  text-align: center; 
  vertical-align: middle; 
  color: red; 
  margin-top: 18%;
}

.used {
  height: 200px; 
  width: 300px; 
  text-align: center; 
  vertical-align: middle; 
  color: red; 
}

.mat-card {
  padding: 0px;
 }