<div class="background" [style.width.px]="imgWidth" [style.height.px]="imgHeight">
  <img src="assets/images/miniso_logo.png" height="80px;" style="margin: 10% 0 16px;" />
  <mat-card>

    <div *ngIf="errorMsg === 'used' " style="text-align: center;color: white; background-color: green;">
      <h3 style="line-height: 60px;">The coupon was redeemed</h3>
    </div>


    <div *ngIf="errorMsg === 'valid' || errorMsg === 'used' " style="padding: 16px;">
      <ngx-barcode [bc-value]="value" [bc-height]="100"></ngx-barcode>

      <div style="display: flex; justify-content: center; padding-bottom: 16px;">
        <img [src]="couponImage" height="98px;" />
      </div>

      <p style="text-align: center; padding: 0 16px; color: #313131; margin-bottom: 2px;">
        <!-- Your free discount coupon to enjoy Miniso Diwali offer big sale -->
        Use the coupon on the shopping of Rs.{{minimumAmount}} repectively, Kindly visit <a href="https://www.minisoindia.com/store-locator/">store-locator</a> for MINISO stores.
      </p>

      <div style="width: 100%; padding: 4px 16px;">
        <hr style="border: 1px dashed #e1e1e1;" />
      </div>

      <p style="text-align: center; padding: 0 16px; color: #D6D1D6; letter-spacing: 3px; margin-bottom: 6px;">
        Your Coupon Code
      </p>

      <p style="text-align: center; padding: 0 16px;color: #333333; font-size: 18px;">
        {{value}}
      </p>
    </div>

    <div *ngIf="errorMsg === 'invalid'">
      <div class="invalid">
        <h1>Invalid Coupon !</h1>
      </div>
    </div>
  </mat-card>

</div>