@media screen and (max-width: 600px) {
    .card {
        width: 45%!important;
        height: 30%!important;
        border-radius: 25px;
        float: left;
        margin: 10px;
    }
}

.card {
    width: 12%;
    height: 25%;
    float: left;
    margin-left: 2%;
    border-radius: 25px;
}