@media screen and (max-width: 600px) {
    .card {
        width: 65%!important;
        height: 45%!important;
        margin-top: 75px;
        margin-left: 12%!important;
        border-radius: 25px;
        margin: auto;
    }
}

.card {
    width: 12%;
    height: 25%;
    float: left;
    margin-top: 75px;
    margin-left: 2%;
    border-radius: 25px;
}