@media screen and (max-width: 600px) {
    .card {
        width: 40%!important;
        height: 28%!important;
        margin-top: 75px;
        margin-left: 12px;
        border-radius: 25px;
    }
}

.card {
    width: 12%;
    height: 22%;
    margin-top: 75px;
    margin-left: 30px;
    border-radius: 25px;
}
