<div style="margin: auto; text-align: center;">

    <mat-toolbar class="toolbar">
        Happy Diwali <span class="example-fill-remaining-space"></span>
    </mat-toolbar>
    <div style="margin-top: 15%;font-size:15px;">
        Successfully received ₹50 coupon.
    </div>
    <div style="margin-top: 4%;font-size:11px;">
        You may also check the status by link in text message on registered mobile number.
    </div>


    <div style="margin-top: 15%">            
        <button mat-raised-button color="accent" (click)="closeDialog()"  class="ui button" type="submit" style="background-color: #e82936;">Check Status</button>        
    </div>
    <br><br><br>


</div>