<div style="margin: auto; text-align: center;">
    <div *ngIf="data.amount">
        <mat-toolbar class="toolbar">
            Happy Diwali! <span class="example-fill-remaining-space"></span>
        </mat-toolbar>
        <div style="margin-top: 15%;font-size:15px;">
            Successfully received Rs.{{data.amount}} Coupon!
        </div>
        <div style="margin-top: 4%;font-size:13px;">
            Check the link in the message on your registered mobile number
        </div>

        <div style="margin-top: 15%">
            <button mat-raised-button color="accent" (click)="closeDialog()" class="ui button" type="submit"
                style="background-color: #e82936;">Check Status</button>
        </div>
        <br><br><br>
    </div>

    <div *ngIf="!data.amount" style="margin: auto; ">
        <h1 mat-dialog-title>Happy Diwali!</h1>
        <div>
            <p> Mobile number is already registered</p>
            <p>Try with another mobile number <br> Or <br> <a href="">Resend Link</a></p>
        </div>
        <div mat-dialog-actions>
            <button mat-button cdkFocusInitial (click)="close()">Ok</button>
        </div>
        <br> <br>
        <div></div>
    </div>

</div>