<h1 mat-dialog-title>Happy Diwali!</h1>
<div *ngIf="data.amount">
    <div>
        Successfully received Rs.{{data.amount}} Coupon!
        Check the <a style="cursor: pointer;" (click)="closeDialog()">link</a> in the message on your registered mobile
        number
    </div>

    <mat-dialog-actions align="end">
        <button mat-button (click)="closeDialog()" class="ui button" type="submit">Check Status</button>
    </mat-dialog-actions>
</div>

<div *ngIf="!data.amount" style="margin: auto; ">
    <div>
        <p> Mobile number is already registered, Try with another mobile number <span *ngIf="counter < 3"> Or <a style="cursor: pointer;"
                (click)="resendLink()">Resend Link</a></span></p>
    </div>

    <mat-dialog-actions align="end">
        <button mat-button cdkFocusInitial (click)="close()">Ok</button>
    </mat-dialog-actions>
</div>