<div class="background" [style.width.px]="imgWidth" [style.height.px]="imgHeight" [hidden]="isRegistered">
    <div style="height: 25%;"></div>

    <div>
        <form [formGroup]="registration" class="ui form" style="padding: 0 6%;">
            <div class="field">
                <input style="width: 100%;" matInput placeholder="Name*" formControlName="userName" maxlength="100"
                    required>
                <mat-error
                    *ngIf="registration.get('userName').hasError('required') && registration.get('userName').touched">
                    *Name is required</mat-error>
                <mat-error
                    *ngIf="registration.get('userName').hasError('minlength') && registration.get('userName').touched">
                    Should be minimum 3 characters
                </mat-error>
            </div>

            <div class="ui action input" style="width: 100%;">
                <input style="width: 0;" pattern=^[6-9]\d{9}$ value="9354926844" matInput placeholder="Mobile Number*" formControlName="mobile"
                    (keypress)=_keyPress($event) maxlength="10" minlength="10" required>
                <button style="color: white; background-color: #d7232f; margin: 0;" class="ui button"
                    [disabled]="(registration.get('mobile').invalid) || optCount !== 60"
                    (click)="sendOTP();"><span>{{optButtonLabel}}</span></button>
            </div>

            <div style="margin: 0 0 1em;">
                <mat-error
                    *ngIf="registration.get('mobile').hasError('required') && registration.get('mobile').touched">
                    *Mobile Number is required</mat-error>
                <mat-error
                    *ngIf="(registration.get('mobile').hasError('minlength') || registration.get('mobile').hasError('pattern') || registration.get('mobile').hasError('maxlength')) && registration.get('mobile').touched">
                    *Invalid Mobile Number</mat-error>
            </div>


            <div class="field">
                <input style="width: 100%;" matInput placeholder="OTP*" formControlName="otp" maxlength="6"
                    minlength="6" (keypress)=_keyPress($event) required [hidden]="!showOTP">

                <span *ngIf="otpMessage ? true : false">
                    {{otpMessage}}</span>
            </div>

            <button style="color: white; background-color: #d7232f; width: 100%;"
                [disabled]="registration.invalid || isSubmit" (click)="doRegister()" mat-raised-button>Get
                Offer</button>

            <div class="blank">

            </div>

        </form>
    </div>

</div>