
.field {
  width: 100%;
  margin: auto;
  color: white;
}
.mat-error {
  color: red;
  display: flex;
}

@media screen and (max-width: 600px) {
  .field {
    width: 100% !important;
    margin: auto;
  }

  .fieldButton {
    width: 97% !important;
    margin: auto;
  }
}
