<div class="background" [hidden]="isRegistered">

    <div class="form-container" style="padding-top: 52%; min-height: 600px;">

        <div *ngIf="isMessage" style="padding-top:10%; color: white; font-size: 15px; ">
            {{message}}.
            <br>
            <a href="javascript:void(0);" (click)="toggle()" style="font-size: 18px; ">Try with another
                mobile number</a>
        </div>
        <form [formGroup]="registration" *ngIf="!isMessage" class="ui form">

            <div class="field">
                <input matInput placeholder="Name*" formControlName="userName" maxlength="100" required>
                <mat-error
                    *ngIf="registration.get('userName').hasError('required') && registration.get('userName').touched">
                    *Name is required</mat-error>
                <mat-error
                    *ngIf="registration.get('userName').hasError('minlength') && registration.get('userName').touched">
                    Should be minimum 3 characters
                </mat-error>
            </div>

            <div class="field">
                <input style="width: 55%;" matInput placeholder="Mobile Number*" formControlName="mobile" (keypress)=_keyPress($event)
                    maxlength="10" minlength="10" required>
                <button style="background-color: #3f51b5; color: white; width: 25%" class="ui button" [disabled]="(registration.get('mobile').invalid) || optCount !== 60" 
                    (click)="sendOTP();">{{optButtonLabel}}</button>
    
                <mat-error
                    *ngIf="registration.get('mobile').hasError('required') && registration.get('mobile').touched">
                    *Mobile Number is required</mat-error>
                <mat-error
                    *ngIf="(registration.get('mobile').hasError('minlength') || registration.get('mobile').hasError('maxlength')) && registration.get('mobile').touched">
                    *Invalid Mobile Number</mat-error>
            </div>

            <br>
            <div class="field">
                <input matInput placeholder="OTP*" formControlName="otp" maxlength="6" minlength="6"
                    (keypress)=_keyPress($event) required [hidden]="!showOTP">

                <span *ngIf="otpMessage ? true : false" style="display: felx; color: white; font-size: 15px; padding-right: 70%;">
                    {{otpMessage}}</span>
            </div>

            <button style="width: 57%; margin-right: 23%;" [disabled]="registration.invalid || isSubmit" (click)="doRegister()"
                mat-raised-button color="primary">Get
                Offer</button>

        </form>
    </div>

</div>

<div [hidden]="! isRegistered" class="video" style="margin-left: 2%; margin-right: 2%;">
    <video controls #videoPlayer style="max-width: 100%; height: auto;" #videoPlayer>
        <source src="/assets/images/miniso_register.mp4" type="video/mp4" />
        Browser not supported
    </video>
</div>