<!-- <div class="background" [style.width.px]="imgWidth" [style.height.px]="imgHeight"> -->
<div style="margin: auto; padding-bottom: 24px;">
    <img [src]="imgSrc" [style.width.px]="imgWidth" [style.height.px]="imgHeight">

    
    <div [hidden]=submitted>
        <p style="text-align: center; line-height: 56px; background: #F6F3F2; font-weight: 400; color: #333; font-size: 16px; margin-bottom: 0;">Request a Test drive</p>
        <form [formGroup]="registration" class="ui form" style="padding: 0 6%; margin-top: 16px;">

            <!-- Salutation -->
            <div class="ui form">
                <div class="grouped fields">
                  <label for="gender">Salutation</label>

                  <div style="display: flex; flex-direction: row;">
                      <div class="field">
                        <div class="ui radio checkbox">
                          <input type="radio" formControlName="gender" value="Male" class="hidden">
                          <label>Mr.</label>
                        </div>
                      </div>
                      <div class="field">
                        <div class="ui radio checkbox">
                          <input type="radio" formControlName="gender" value="Female" class="hidden">
                          <label>Ms.</label>
                        </div>
                      </div>
                  </div>

                </div>
            </div>

            <!-- Name -->
            <div class="field">
                <input style="width: 100%;" matInput placeholder="Name*" formControlName="userName" maxlength="100"
                    required>
                <mat-error
                    *ngIf="registration.get('userName').hasError('required') && registration.get('userName').touched">
                    *Name is required</mat-error>
                <mat-error
                    *ngIf="registration.get('userName').hasError('minlength') && registration.get('userName').touched">
                    Should be minimum 3 characters
                </mat-error>
            </div>

            <!-- Email -->
            <div class="field">
                <input style="width: 100%;" matInput placeholder="Email*" formControlName="email" maxlength="100"
                    required>
                <mat-error
                    *ngIf="registration.get('email').hasError('required') && registration.get('email').touched">
                    *Email is required</mat-error>
                <mat-error
                    *ngIf="(registration.get('email').hasError('maxlength') || registration.get('email').hasError('pattern')) && registration.get('email').touched">
                    *Invalid Email
                </mat-error>
            </div>

            <!-- Mobile -->
            <div class="field">
                <input style="width: 100%;" matInput placeholder="Mobile*" formControlName="mobile" maxlength="100" required>
                <mat-error
                    *ngIf="registration.get('mobile').hasError('required') && registration.get('mobile').touched">
                    *Mobile is required</mat-error>
                <mat-error
                    *ngIf="(registration.get('mobile').hasError('minlength') || registration.get('mobile').hasError('pattern') || registration.get('mobile').hasError('maxlength')) && registration.get('mobile').touched">
                    *Invalid Mobile Number</mat-error>
            </div>

            <!-- Model Interested In -->
            <div class="field">
                <!-- <label>Model Interested In*</label> -->
                <div class="ui selection dropdown">
                    <input matInput formControlName="interested" required value="Venue">
                    <i class="dropdown icon"></i>
                    <div class="default text">Model Interested In*</div>
                    <!-- Hyundai ,Venue , Aura , i10 Nios . -->
                    <div class="menu">
                        <div class="item" data-value="Venue">Venue</div>
                        <div class="item" data-value="i10 Nios">i10 Nios</div>
                        <div class="item" data-value="Aura">Aura</div>
                    </div>
                </div>
                <mat-error
                    *ngIf="registration.get('interested').hasError('required') && registration.get('interested').touched">
                    *Model Interested In is required
                </mat-error>
            </div>
            
            <!-- Choose Date (for the test drive)  -->
            <div class="field">
                <div class="ui calendar" id="date_calendar">
                    <div class="ui input right icon">
                      <i class="calendar icon"></i>
                      <input type="text" placeholder="Choose Date (for the test drive)*" formControlName="date">
                    </div>
                </div>
            </div>



            <!-- Vehicle -->
            <div class="field">
                <input matInput placeholder="Current vehicle" formControlName="vehicle" maxlength="100">
            </div>

            <!-- Comments -->
            <div class="field">
                <!-- <label>Comments</label> -->
                <textarea formControlName="comments" placeholder="Your comments here..."></textarea>
            </div>


            <!-- <div class="ui action input" style="width: 100%;">
                <input style="width: 0;" pattern=^[6-9]\d{9}$ matInput placeholder="Mobile Number*"
                    formControlName="mobile" (keypress)=_keyPress($event) maxlength="10" minlength="10" required>
                <button style="color: white; background-color: #d7232f; margin: 0;" class="ui button"
                    [disabled]="(registration.get('mobile').invalid) || optCount !== 60"
                    (click)="sendOTP();"><span>{{optButtonLabel}}</span></button>
            </div>

            <div style="margin: 0 0 1em;">
                <mat-error
                    *ngIf="registration.get('mobile').hasError('required') && registration.get('mobile').touched">
                    *Mobile Number is required</mat-error>
                <mat-error
                    *ngIf="(registration.get('mobile').hasError('minlength') || registration.get('mobile').hasError('pattern') || registration.get('mobile').hasError('maxlength')) && registration.get('mobile').touched">
                    *Invalid Mobile Number</mat-error>
            </div>

            <div class="field">
                <input style="width: 100%;" matInput placeholder="OTP*" formControlName="otp" maxlength="6"
                    minlength="6" (keypress)=_keyPress($event) required [hidden]="!showOTP">

                <mat-error *ngIf="registration.get('otp').hasError('required') && registration.get('otp').touched">
                    *OTP is required</mat-error>
                <span *ngIf="otpMessage && !registration.get('otp').hasError('required') ? true : false">
                    {{otpMessage}}</span>
            </div> -->

            <!-- <p>
                Form Value: {{ registration.value | json}}
            </p>
            <p>
                Form Status: {{ registration.status }}
            </p> -->

            <button style="color: white; background-color: #1E3371; width: 100%;" class="ui button"
                [disabled]="(registration.invalid || isSubmit)" (click)="doRegister()" mat-raised-button>
                Submit
            </button>

        </form>
    </div>

    <div [hidden]=!submitted style="padding-top: 24px;">

        <div style="width: 100%; text-align: center;">

            <span role="img" aria-label="check-circle" style="color: #52c41a; font-size: 72px;">
                <svg viewBox="64 64 896 896" focusable="false" class="" data-icon="check-circle" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                    <path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm193.5 301.7l-210.6 292a31.8 31.8 0 01-51.7 0L318.5 484.9c-3.8-5.3 0-12.7 6.5-12.7h46.9c10.2 0 19.9 4.9 25.9 13.3l71.2 98.8 157.2-218c6-8.3 15.6-13.3 25.9-13.3H699c6.5 0 10.3 7.4 6.5 12.7z">
                    </path>
                </svg>
            </span>

        </div>

        <p style="line-height: 56px; font-size: 24px; text-align: center; width: 100%; color: #333; padding-bottom: 0; margin-bottom: 0;">Submission Success</p>
        <p style="padding: 0 12%; text-align: center; line-height: 24px;"> 
            Thank you! Dear customer, Your test drive have been booked .Our customers service department will contact you to assist your request. 
        </p>
    </div>
</div>