.background {
    background-image: url("/assets/images/background.svg");
    background-repeat: no-repeat;
    width: 35%;
    margin: auto;
    min-height: 100% !important;
}

@media screen and (max-width: 600px) {
    .background {
        background-image: url("/assets/images/background.svg");
        background-repeat: no-repeat;
        background-size: 100%  100%;
        width: 100%;
        margin: auto;  
        padding-left: 15%;
        padding-top: 20%;  
        padding-top: 2%;
    }
}

.form-container {
    text-align: center;
}

.field {
    width: 90%; 
    margin: auto;
}
.mat-error {
    color: white;
    display: flex;
}