<mat-toolbar class="menu-header">
  <mat-toolbar-row style="padding-left: 25px">

    <a routerLink="/dashboard" class="menu-link" style="height: 30px">
      <img src="assets/images/miniso-logo.png" height="30px;" />
    </a>

    <a routerLink="/dashboard" routerLinkActive="active" class="menu-link link-order" style="margin-left: 1%;">
      <button mat-button>DASHBOARD</button>
    </a>
    <a routerLink="/report" routerLinkActive="active" class="menu-link link-dashboard" style="margin-left: 1%;">
      <button mat-button>REPORT</button>
    </a>
    <a routerLink="/marchant" routerLinkActive="active" class="menu-link link-order" style="margin-left: 1%;">
      <button mat-button>MERCHANT</button>
    </a>

    <span class="example-fill-remaining-space"></span>

    <button mat-button class="background-button" [matMenuTriggerFor]="user" style="width: 24px; height: 24px;">
      <svg-icon src="assets/images/user.svg" [svgStyle]="{ 'width.px':20,'height.px':20}" inline=true>
      </svg-icon>
    </button>

    <mat-menu #user="matMenu">
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>

  </mat-toolbar-row>

</mat-toolbar>